.vscode
node_modules
.eslintignore
.eslintrc
.prettierrc
.prettierrc.js
tsconfig.json
/**/**/*.tsx
/**/**/*.ts
/**/**/*.css
!/**/**/*.d.ts
.git
*.config.js
*.html
_dev
!style.css
scripts
*.md
!README.md
.github
.vscode