@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --eduzz-theme-primary: #0d2772;
  --eduzz-theme-primary-rgb: 13, 38, 115;
  --eduzz-theme-secondary: #ffbc00;
  --eduzz-theme-secondary-rgb: 255, 188, 0;

  --eduzz-ui-layout-topbar-height-rem: 4rem;
  --eduzz-ui-layout-topbar-menu-min-width-rem: 16.25rem;
  --eduzz-ui-layout-topbar-app-dropdown-width-rem: 21rem;
  --eduzz-ui-layout-sidebar-width-rem: 15.5rem;

  --eduzz-ui-layout-belt-color-white: #D9D9D9;
  --eduzz-ui-layout-belt-color-red: #FF4141;
  --eduzz-ui-layout-belt-color-orange: #FFA439;
  --eduzz-ui-layout-belt-color-green: #33DB7A;
  --eduzz-ui-layout-belt-color-black: #000000;
  --eduzz-ui-layout-belt-color-golden: #FFCE00;

  --eduzz-ui-layout-belt-foreground-white: #4D4D4D;
  --eduzz-ui-layout-belt-foreground-red: #4D1414;
  --eduzz-ui-layout-belt-foreground-orange: #4D3111;
  --eduzz-ui-layout-belt-foreground-green: #124D2B;
  --eduzz-ui-layout-belt-foreground-black: #FFFFFF;
  --eduzz-ui-layout-belt-foreground-golden: #4D3E00;
}

html, body {
  @apply uizz-layout-font-sans uizz-layout-text-base uizz-layout-m-0
}
html:has(body[data-eduzz-theme="dark"]) {
  color-scheme: dark;
}