.eduzz-ui-layout-sidebar-group {
  user-select: none;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 1.625rem 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  line-height: 1.15;
  cursor: pointer;
  transition: 0.15s linear;
  min-height: 2.2rem;
  outline: none;
  position: relative;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-sizing: border-box;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item:hover,
.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item:active {
  background-color: rgba(0, 0, 0, 0.03);
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item .eduzz-ui-layout-sidebar-group-indicator {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0.3;
  width: 30px;
  transition: 0.3s;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item .eduzz-ui-layout-sidebar-group-content {
  min-width: 0;
  grid-column: 2;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item .eduzz-ui-layout-sidebar-group-content .eduzz-ui-layout-sidebar-group-label {
  text-transform: uppercase;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.65);
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item.eduzz-ui-layout-sidebar-group-item-expanded .eduzz-ui-layout-sidebar-group-indicator {
  top: calc(50% - 1px);
  height: 1px;
  margin-top: -0.5px;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0.3;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-item.eduzz-ui-layout-sidebar-group-item-expanded .eduzz-ui-layout-sidebar-group-label {
  color: rgba(0, 0, 0, 0.45);
}


.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-items {
  margin: 0;
  padding: 0;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-items .eduzz-ui-layout-sidebar-group-items-content {
  padding-bottom: 0.7rem;
}

.eduzz-ui-layout-sidebar-group .eduzz-ui-layout-sidebar-group-items .eduzz-ui-layout-sidebar-group-items-content li {
  margin-bottom: 0;
}